// Controls for responsive typography
@media only screen and (min-width : 500px)  {
  
  html { font-size: 1.2rem; }

  .jumbo-heading { margin: 0 auto; }
}

@media only screen and (min-width : 768px) {

  html { font-size: 1.4rem; }

  .navbar { 
    background-color: #fff;
  }

  .nav-link {
    font-size: 0.75rem;
  }

  .jumbotron-container { height: 60vh; }

  .jumbo-heading { 
    max-width: 100%; 

    h1 { font-size: 1.75em; }
  }

  .content-list {
  	display: flex;
  	justify-content: space-around;
    width: 100%;

    &.content-list__contact {
      flex-direction: column;
      justify-content: start;

      .content-item {
        width: 90%;
        flex-flow: initial;
        width: auto;
        font-size: 0.75rem;
        margin: .5rem 2rem 1rem 0;

        &:first-of-type { margin-top: 0; }
      }
    }
  }

  .bg-img--trees { 
    background-size: 75%; 
  }

  .bg-img--trees-lg { 
    background-size: 90%; 
  }

  .card-header {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .services-accordion { display: flex; }
  
  .accordion-icon {
    width: 5rem;
    height: 5rem;
  }

  .content-item {
 	  flex-flow: column-reverse;
    width: 50%;

    h3 {
      margin-right: 0;
      margin-top: 2rem;
      font-size: 0.7rem;
    }
  }

  .contact-options-group {
    display: flex;
    flex-flow: row-reverse;

    .contact-form,
    .content-list { 
      width: 50%; 
    }
  }

  .form-control { font-size: 0.75rem; }

  .twp-logo { max-width: 3rem; }

  .copyright-list { font-size: 0.5rem; }

  footer ul { font-size: 0.75rem; }

  .footer-nav { width: 25%; }
}

@media only screen and (min-width : 992px) {

  section h2 { font-size: 2rem; }

  .jumbotron-container { 
    max-width: 43rem;
    margin: 0 auto;
    height: 80vh; 
  }

  .jumbo-heading h1 { font-size: 2.5rem; }

  .bg-img--trees { 
    background-size: 65%; 
  }
  .bg-img--trees-lg { 
    background-size: 85%; 
  }
  
  .copyright-list { font-size: 0.75rem; }
}

@media only screen and (min-width : 1200px) {

  section h2 { font-size: 2.5rem; }

  .bg-img--trees { 
    background-size: 45%; 
  }

  .bg-img--trees-lg { 
    background-size: 85%; 
  }
}
