$font-family-sans-serif: "montserratregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "montserratbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: "montserratregular", "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-dark: 	#384444;
$brand-primary: #646B5B;
$brand-yellow: 	#F5A623;
$brand-tan: 	#ECC587;