@import "custom";
@import "~bootstrap/scss/bootstrap";

// Bootstrap Overrides
.jumbotron {
	// background-image: url(/docs/img/treeman.jpg);
	background-size: cover;
	background-color: $brand-dark;
	position: relative;
	border-radius: 0;

	.lead { font-size: 1rem; }
}

.navbar-light .navbar-toggler { 
	border: 0;
	outline: none; 
}

// Responsive Import
@import "responsive";